@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

h2 {
    padding-top: 15px;
    padding-left: 15px;
}

h3 {
    padding-top: 15px;
    padding-left: 15px;
}

p {
    padding-top: 15px;
    padding-left: 15px;
    text-align: center;
}

button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 8px;
    border-color: greenyellow;
    background-color: greenyellow;
    text-align: center;
    align-items: center;
}